/* page fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

* {
	box-sizing: border-box;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap-about {
	padding-bottom: 2.5rem; /* push footer to bottom */
	display: flex;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

body {
	background-image: linear-gradient(to bottom right, rgb(209, 209, 209), white);
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/* nav bar  */

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

nav li {
	display: inline-block;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #4f4f4f;
}

/* Home */

/* home page main card element */
.card {
	align-items: center;
	background-image: linear-gradient(
		to bottom right,
		white,
		rgba(211, 211, 211, 0.816)
	);
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
	box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 7rem auto;
	padding: 50px;
}
/* home page main card animation*/
.card-hvr-grow {
	transform: translateZ(0);
	transition-duration: 0.3s;
	transition-property: transform;
}
/* card animation on hover */
.card-hvr-grow:hover {
	transform: scale(1.05);
}

.card-container {
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.profile-image {
	background-color: black;
	border-radius: 50%;
	color: white;
	font-size: 32px;
	height: 230px;
	margin: 25px 50px 50px 50px;
	width: 230px;
}
.home-h3 {
	text-align: center;
}

span {
	display: flex;
	font-size: small;
	font-weight: bold;
	justify-content: center;
}
.links {
	display: flex;
}

.links ul {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
}

.links i {
	color: rgb(113, 113, 113);
	font-size: 2rem;
	margin-right: 3.5rem;
}

#fa-linkedin:hover {
	transition: 0.5s;
	color: #0077b5;
}

#fa-github:hover {
	transition: 0.5s;
	color: #333;
}

#fa-stack-overflow:hover {
	transition: 0.5s;
	color: #f48024;
}

/* About */
.about-right-section {
	width: 60%;
	text-align: center;
	margin: 6rem auto 0 6rem;
}

.about-left-section {
	width: 60%;
	margin: 6rem auto 0 6rem;
}

h1 {
	font-size: 3.2rem;
	margin-bottom: 0px;
	margin-top: 5.496px;
}
h2 {
	margin-bottom: 19.92px;
	margin-top: 69.92px;
}

h3 {
	font-size: 1.6rem;
	margin-top: 0.3rem;
	margin-bottom: 30px;
}

p {
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 1.5rem;
	line-height: 1.7rem;
	letter-spacing: 0.2px;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 380px;
	width: 380px;
	margin: 1rem auto;
}
.gmap-canvas {
	overflow: hidden;
	background: none !important;
	height: 380px;
	width: 380px;
}
.gmap-ul {
	text-align: left;
	/* width: 140px; */
	display: flex;
	/* margin: 0 auto; */
	margin-top: 8px;
}
#cities-h3 {
	margin: 14px 5px 0px 120px;
}

#prev_button,
#next_button {
	color: rgb(233, 233, 233);
	background: #383838;
	cursor: pointer;
	padding: 0.5rem 0.8rem;
	border-radius: 10px;
	outline: 0;
}

#prev_button:disabled,
#next_button:disabled {
	background-color: rgb(132, 132, 132);
}

/* Contact */
.contact-top-section {
	width: 55%;
	padding-left: 1rem;
	text-align: center;
	margin: 6rem auto 0 auto;
}

form {
	max-width: 37.5em;
	text-align: center;
	margin: 1.25em auto;
}

input,
textarea,
#button-submit {
	border: 0;
	outline: 0;
	padding: 1em;
	border-radius: 10px;
	display: block;
	width: 100%;
	margin-top: 1em;
	resize: none;
	font-size: 1rem;
}

#button-submit {
	color: rgb(255, 255, 255);
	background: rgb(255, 0, 0);
	cursor: pointer;
}

/* Submit button color when disabled */
#button-submit:disabled {
	background-color: rgb(184, 155, 155);
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
}
/* Make the button grow on hover */
.hvr-grow:hover:enabled {
	transform: scale(1.05);
}

#input-Comment {
	height: 7.4rem;
}

.half {
	float: left;
	width: 48%;
	margin-bottom: 1em;
}

.right {
	width: 50%;
}

.left {
	margin-right: 2%;
}

.form-chackbox {
	display: inline-block;
}

.checkbox-container {
	position: relative;
	padding-left: 35px;
	margin-left: 1.6em;
	cursor: pointer;
	font-size: 1.1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: rgb(255, 202, 202);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: rgb(255, 155, 155);
}

/* When the checkbox is checked, add a red background */
.checkbox-container input:checked ~ .checkmark {
	background-color: #f32121;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Footer */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
}
#footer-sentence {
	color: rgb(220, 220, 220);
	font-weight: bold;
	background-color: #383838;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 0.5rem;
}
#footer-about-a {
	margin: auto 4rem;
}

.footer-links {
	/* padding: 0.5rem; */
	padding: 0.8rem 0rem 0.5rem 0rem;
	background: #383838;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.footer-links .combo {
	transform: scale(0.9);
	transition: 0.4s ease-in;
	margin: 0 0.5rem;
	height: 3em;
	width: 3em;
	line-height: 3em;
}
/* size and color of outer circle */
.combo .circle {
	color: #f9f9f9;
	transition: 0.4s ease-in;
	font-size: 3em;
}
/* size and color of the inner icon */
.combo .icon {
	color: #444343;
	font-size: 2rem;
	transform: translateY(1px);
	transition: 0.2s ease-in;
}
.combo:hover {
	transform: scale(1.1);
}
/* makes the black icon white on hover */
.combo:hover,
.combo:hover .icon {
	color: white;
}
/* outer circle color on hover */
.ig:hover,
.ig:hover .circle {
	color: #e91e63;
}
.fb:hover,
.fb:hover .circle {
	color: #2196f3;
}
.yt:hover,
.yt:hover .circle {
	color: #f44336;
}

/* For screen less then 480px */
@media (max-width: 480px) {
	h1 {
		font-size: 3rem;
	}

	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 5;
		text-align: center;
	}

	p {
		font-family: "Yanone Kaffeesatz", sans-serif;
		font-size: 1.4rem;
		line-height: 1.7rem;
		letter-spacing: 0.1px;
		margin: auto 5px;
	}

	/* left-half-inputs */
	.half {
		width: 95%;
		float: none;
		margin: 0 auto;
	}

	/* Home */
	.card {
		align-items: center;
		background-image: linear-gradient(
			to bottom right,
			white,
			rgba(211, 211, 211, 0.816)
		);
		border-radius: 10px;
		-webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
		-moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
		box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 7rem auto;
		padding: 0px;
	}
	.profile-image {
		background-color: black;
		border-radius: 50%;
		color: white;
		font-size: 32px;
		height: 150px;
		margin: 25px 50px 50px 50px;
		width: 150px;
	}
	#my-name {
		font-size: 2rem;
	}

	h3 {
		text-align: center;
		font-size: 1rem;
		margin-top: 0.3rem;
		margin-bottom: 30px;
		text-align: center;
	}

	/* About */
	#content-wrap-about {
		padding-bottom: 2.5rem;
		display: block;
	}

	.about-right-section,
	.about-left-section {
		margin: 4rem auto auto auto;
		width: 100%;
		/* padding: 1rem; */
		text-align: center;
	}
	.about-h1 {
		margin-top: 6rem;
	}
	.myStory-h3 {
		text-align: center;
		font-size: 1.5rem;
		margin: 1rem 0;
	}
	h2 {
		margin-bottom: 19.92px;
		margin-top: 0;
	}

	.mapouter {
		position: relative;
		text-align: right;
		height: 320px;
		width: 320px;
		margin: 1rem auto;
	}
	.gmap-canvas {
		overflow: hidden;
		background: none !important;
		height: 320px;
		width: 320px;
	}

	#cities-h3 {
		margin: 1rem;
		font-size: 1rem;
	}
	.citeis-ul {
		padding-left: 1.8rem;
	}

	/* Contact */

	.contact-h3 {
		font-size: 0.95rem;
		margin: 1.2rem 0 1.5rem 0;
	}
	#button-submit {
		width: 95%;
		float: none;
		margin: 0.8em auto;
	}

	/* checkboxes-checkbox-container */
	.checkbox-container {
		position: relative;
		padding-left: 2rem;
		margin-left: 0.5em;
	}

	.contact-top-section {
		width: 100%;
		padding: 0;
		text-align: center;
		margin: 6rem auto 0 auto;
	}

	.checkbox-container {
		position: relative;
		padding-left: 2rem;
		margin-left: 0.5em;
		font-size: 1rem;
	}

	#button-submit {
		width: 95%;
		float: none;
		margin: 1.8em auto 0 auto;
	}
	.footer-links {
		padding: 0.5rem;
		padding: 0.8rem 0rem 0.5rem 0rem;
		background: #383838;
		display: flex;
		justify-content: center;
	}

	.footer-links .combo {
		transform: scale(0.9);
		transition: 0.4s ease-in;
		margin: 0;
		height: 3em;
		width: 3em;
		line-height: 3em;
	}

	#footer-sentence {
		color: rgb(220, 220, 220);
		font-weight: bold;
		background-color: #383838;
		text-align: center;
		padding-top: 0;
		padding-bottom: 0.5rem;
		font-size: smaller;
	}
}
